/* for whole */
.container{
    max-width: 1140px;
    margin: auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
button:hover{
  background-color:burlywood;
}
section div p a{ 
  color: #FFFFFF;
}
section div p a:hover{
background-color:forestgreen;
font-size: larger;
}
/* navbar */
nav ul li a{
 list-style: none;
  text-decoration: none;
  color: #8987A1; 
}
nav ul li a:hover{
  background-color: aquamarine;
  
}
/* .noto-sherif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
.nav-items{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 30px;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
}